<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= form_for(@developer, :html => { class: "form-horizontal", role: "form" }) do |f| %>
          <div class="form-group">
            <div class="col-md-12">
              <%= f.text_field :name, class: "form-control form-home-sign", placeholder: "#{t(:developer_name)}" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12 form-email-fix-position">
              <%= f.text_area :description, class: "form-control form-home-sign", placeholder: "#{t(:developer_description)}" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <%= f.text_field :headquarters, class: "form-control form-home-sign", placeholder: "#{t(:developer_headquarters)}" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <%= f.text_field :website, class: "form-control form-home-sign", placeholder: "#{t(:developer_website)}" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12 col-sm-12 col-xs-12 form-birthday-fix-position">
              <h4>
                <%= t(:year_founded) %>
              </h4>
              <div class="select-date-wrapper">
                <%= date_select :developer, :founded, { start_year: 2017, end_year: 1905, order: [:day, :month, :year]}, class: "form-control select-date"  %>
              </div>

            </div>
          </div>

          <div class="form-group">
            <div class="center col-md-12 col-sm-12 col-xs-12 form-create">
              <%= f.submit(@developer.new_record? ? t(:create_developer_page) : t(:update_developer_page),
                                class: "btn btn-purple btn-lg") %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
