<div class="row">
  <div class="col-md-12 comment-home-proprety">

      <div class="col-md-1">
        <%= link_to gravatar_for(comment_feed.user, size: 30, class: 'gravatar'), user_path(comment_feed.user) %>
      </div>
      <div class="col-md-11">
        <% if logged_in? && (current_user == comment_feed.user || current_user.admin? || current_user == comment_feed.article.user) %>
          <%= link_to (render 'shared/close'), article_comment_path(comment_feed.article, comment_feed), method: :delete,
                                                                  class: "pull-right comment-remover-button" %>
        <% end %>
        <p>
        <strong class="comment-user"><%= link_to comment_feed.user.name, user_path(comment_feed.user) %></strong>
          <span class="quiet">
            <small>
              <%= time_ago_in_words(comment_feed.created_at) %> ago
            </small>
          </span>
        </p>

        <p class="comment-home-proprety-content">
          <%= comment_feed.description %>
        </p>

      </div>

  </div>
</div>
<br>
