<li id="article-<%= article.id %>" class="justify col-sm-12 articler-container article-content">
  <div class="col-sm-1 article-home-proprety">
    <%= link_to gravatar_for(article.user, size: 50, class: 'gravatar-feed'), article.user %>
  </div>
  <div class="col-sm-11 article-home-proprety">
    <span class="users-home-name inline-home article-home-ajust">
      <%= link_to article.user.name, article.user %>
    </span>
    <small class="timestamp inline">
      <%= article.timestamp %>
      | <%= article.reading_time %> min read
    </small>
    <div class="article-home-ajust">
      <%= link_to article.name, article_path(article) %>
    </div>
  </div>

  <div class="col-sm-12 article-home-description">
    <%= image_tag(article.image.url, class: "img-ratio article-home-cover") if article.image? %>

    <div>
      <%= truncate(article.description, length: 255) %>
    </div>
    <% if article.comments.count > 2 %>
    <div >
      <%= link_to "View all comments", article_path(article, anchor: "wall"), class: 'btn btn-purple btn-view-all-comments', target: '_blank' %>
    </div>
    <% end %>
  </div>
  <div class="col-sm-12 comments-feed-proprety">
    <% if article.comments.any? %>
      <div class="real-time-messages">
        <%= render partial: 'comments/comments_feed', object: article.comments %>
      </div>
    <% else %>
      <div class="real-time-messages">
      </div>
    <% end %>
  </div>

  <div class="col-sm-12 commenter-home-proprety">
    <% if logged_in? %>

        <%= form_for([article, @comment], remote: true, :html => { class: "form-horizontal", role: "form" }) do |f| %>
            <div class="input-group">
              <%= link_to gravatar_for(current_user, size: 30, class: 'gravatar'), user_path(current_user), class:"input-group-addon input-group-addon-feed" %>
              <%= f.text_field :description, class: "form-control comment-home-form", placeholder: "Write a comment..." %>
            </div>
        <% end %>

    <% else %>
      <h4 class="center">Have a account? <%= link_to "Log in to comment", login_path %></h4>
      <h4 class="center">Are you new here? <%= link_to "Sign up", signup_path %></h4>
    <% end %>
  </div>
</li>
<br>
