<li id="article-<%= article.id %>" class="justify col-sm-12 articler-container article-content">
  <div class="col-sm-1 article-home-proprety">
    <%= link_to gravatar_for(article.user, size: 50, class: 'gravatar-feed'), article.user %>
  </div>
  <div class="col-sm-11 article-home-proprety">
    <span class="users-home-name inline-home article-home-ajust">
      <%= link_to article.user.name, article.user %>
    </span>
    <small class="timestamp inline">
      <%= time_ago_in_words(article.created_at) %> ago
      | <%= article.reading_time %> min read
    </small>
    <div class="article-home-ajust">
      <%= link_to article.name, article_path(article) %>
    </div>
  </div>

  <div class="col-sm-12 article-home-description">
    <%= image_tag(article.image.url, class: "img-ratio article-home-cover") if article.image? %>

    <div>
      <%= truncate(article.description, length: 255) %>
    </div>
  </div>

  <% if logged_in? %>
    <div class="row">
      <div class="col-md-12">
        <%= form_for([article, @comment], remote: true, :html => { class: "form-horizontal", role: "form" }) do |f| %>
          <div>
            <div class="input-group col-md-11 col-md-offset-1">
              <%= link_to gravatar_for(current_user, size: 30, class: 'gravatar-comment-home'), user_path(current_user), class:"input-group-addon" %>
              <%= f.text_field :description, class: "form-control comment-home-form", placeholder: "Write a comment..." %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <h4 class="center">Have a account? <%= link_to "Log in to comment", login_path %></h4>
    <h4 class="center">Are you new here? <%= link_to "Sign up", signup_path %></h4>
  <% end %>
</li>
<br>
