
<li id="article-<%= article.id %>" class="justify col-sm-12 col-md-12 col-xs-12 articler-container article-content">
  <div class="col-sm-1 col-md-1 col-xs-1 article-home-proprety">
    <%= link_to gravatar_for(article.user, size: 50, class: 'gravatar-feed'), article.user %>
  </div>
  <div class="col-sm-11 col-md-11 col-xs-11 article-home-proprety">
    <span class="users-home-name inline-home article-home-ajust users-name-feed">
      <%= link_to article.user.name, article.user %>
    </span>
    <small class="right inline data-read-timing-feed">
      <% if params[:locale] == 'pt' %>
        <%= article.timestamp_dmy %>
      <% else %>
        <%= article.timestamp %>
      <% end %>
      | <%= article.reading_time %> min <%= t(:read) %>
    </small>
    <div class="article-home-ajust users-home-name title-name-feed">
      <%= link_to truncate(article.name, length: 80), article_path(article) %>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-xs-12 article-home-description">
    <%= image_tag(article.image.url, class: "article-home-cover") if article.image? %>

    <div class="article-home-description-proprety">
      <%= simple_format(article.make_safe(255)) %>
      <% if article.description.size > 255 %>
         <%= link_to(t(:see_more), article_path(article), class:'right') %>
      <% end %>
    </div>

    <% if article.comments.count > 2 %>
      <div >
        <%= link_to t(:view_all_comments), article_path(article, anchor: "wall"), class: 'btn btn-purple btn-view-all-comments', target: '_blank' %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-12 col-md-12 col-xs-12 comments-feed-proprety">
    <% if article.comments.any? %>
      <div class="real-time-messages">
        <%= render partial: 'comments/comments_feed', object: article.comments %>
      </div>
    <% end %>
  </div>


</li>
<br>
