<div class="row">
  <div class="col-md-12">
    <%= form_for(object, :html => { class: "form-horizontal", role: "form" }) do |f| %>
      <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
          <%= f.text_field :name, class: "form-control", placeholder: "Title", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
          <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Show us your ability..." %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <%= f.submit class: "btn btn-purple" %>
          <%= link_to "Create a new article", new_article_path, class: "btn btn-purple" unless @article.new_record?%>
          <%= link_to "Return to articles listing", articles_path, class: "btn btn-purple" %>
          <%= link_to "Delete this article", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-purple" unless @article.new_record? %>
        </div>
      </div>
    <% end %>
  </div>
</div>
