<script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>

<div class="row">
  <div class="col-md-12">
    <%= form_for(object, :html => { class: "form-horizontal", multipart: true, role: "form" }) do |f| %>

      <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
          <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: 'inputfile' %>
          <span class="custom-file-control">
            <p class="custom-file-control-label center"><i class="fa fa-file-image-o" aria-hidden="true"></i> Select cover image</p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
          <%= f.text_field :name, class: "form-control", placeholder: "Title", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
          <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Show us your ability..." %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-2 btn-group">
          <%= f.submit class: "btn btn-purple" %>
          <%= link_to "Create a new article", new_article_path, class: "btn btn-purple" unless @article.new_record?%>
          <%= link_to "Return to articles listing", articles_path, class: "btn btn-purple" %>
          <%= link_to "Delete this article", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-purple" unless @article.new_record? %>
        </div>
      </div>
    <% end %>
  </div>
</div>
