<%= render 'shared/ckeditor'%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= form_for(object, :html => { class: "form-horizontal", multipart: true, role: "form" }) do |f| %>

        <div class="form-group">
          <div class="col-md-8 col-md-offset-2">
            <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: 'inputfile' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-8 col-md-offset-2">
            <%= f.text_field :name, class: "form-control", placeholder: "Title", autofocus: true %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-8 col-md-offset-2">
            <%= f.cktext_area(:description, cols: 40, class: "form-control", placeholder: "Show us your ability, #{current_user.name}, we trusting you") %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-10 col-md-offset-2 btn-group">
            <%= f.submit class: "btn btn-purple" %>
            <%= link_to "Create a new article", new_article_path, class: "btn btn-purple" unless @article.new_record?%>
            <%= link_to "Seek new articles", articles_path, class: "btn btn-purple" %>
            <%= link_to "Delete this article", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-purple" unless @article.new_record? %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(".inputfile").filestyle({buttonBefore: true, placeholder: "Select article's cover - Max height is 250 pixels"});
</script>
