<div class="container">
<hr />
    <div class="col-md-12 col-sm-12 col-xs-12">
      <% @articles.each do |article| %>
        <div class="col-md-3 col-sm-6 col-xs-12 justify">
          <div class="article-index">
            <%= image_tag(article.image.url, class: "img-cover-ratio") if article.image? %>
            <h4 class="article-index-title">
              <%= link_to truncate(article.name, length: 30, class:"justify"), article_path(article) %>
            </h4>
            <p>
              <span class="quiet article-index-comms">
                <small><%= time_ago_in_words(article.created_at) %> <%= t(:ago) %>
                  | <%= article.reading_time %> min <%= t(:read) %>
                  | <%= link_to(pluralize(article.comments.count, "comm"), article_path(article, anchor: "wall"),  target: '_blank') %>
                </small>
              </span>
            </p>
            <div class="avatar-article-index">
              <%= link_to gravatar_for(article.user, size: 50, class: 'gravatar'), user_path(article.user) %>
              <div class="avatar-article-index-text">
                <%= link_to article.user.name.capitalize, user_path(article.user), class: "avatar-article-index-font" %>
                <%= t('article', count: article.user.articles.count) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
