<%= render 'shared/page_title', title: @article.name %>

<div class="row">
  <div class="well justify col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
    <%= simple_format(@article.description) %>
    <hr />
    <div class="pull-right">
      <small>
        <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
        <div class="separator">
          Created by: <%= @article.user.name.capitalize %>
        </div>
        Created <%= time_ago_in_words(@article.created_at) %> ago
      </small>
    </div>
    <div class="pull-left well-footer">
      <%= link_to "Return to articles listing", articles_path, class: "btn btn-purple" %>
      <% if logged_in? %>
        <%= link_to "Create a new article", new_article_path, class: "btn btn-purple" %>
      <% end %>
      <% if logged_in? && current_user == @article.user %>
        <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-purple" %>
        <%= link_to "Delete this article", article_path(@article), method: :delete,
                                                                data: { confirm: "Are you sure?" },
                                                                class: "btn btn-purple" %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

  </div>
</div>
