
<% provide(:title, @article.name + " | " + @article.user.name) %>
<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <div class="col-md-2 col-sm-3 col-xs-12">
      <%= link_to gravatar_for(@article.user, size: 100, class: 'article-avatar article-avatar-second-border'), user_path(@article.user) %>
    </div>
    <div class="inline article-user-name">
        <%= link_to @article.user.name.capitalize, user_path(@article.user) %>
    </div>
    <div class="inline">
      <% if logged_in? %>
        <% if current_user == @article.user %>
          <%= link_to 'Edit Profile', edit_user_path(@article.user), class: 'btn btn-purple' %>
        <% else %>
          <%= render 'users/follow_form' if logged_in? %>
        <% end %>
      <% else %>
        <%= link_to 'Log in or Sign up', root_path, class: 'btn btn-purple' %>
      <% end %>
    </div>
    <div>
      <div class="biografy-show"><%= @article.user.bio %></div>
      <small>
        <%= @article.timestamp %>
        | <%= @article.reading_time %> min read
      </small>
    </div>
  </div>
</div>

<hr />



<div class="row">

  <div class="justify col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 article-show">
    <div class="col-md-12">
      <%= render 'shared/page_title', page_title: @article.name, class: 'article-show' %>
    </div>

    <div align="center">
      <%= image_tag(@article.image.url, class: "img-ratio") if @article.image? %>
    </div>
    <hr />
    <div class="article-show-content">
      <%= simple_format(@article.description) %>
    </div>
    <hr />
    <div class="btn-group btn-article-show-adjust">
      <% if logged_in? %>
        <%= link_to "Create a new article", new_article_path, class: "btn btn-purple" %>
      <% end %>
      <%= link_to "Seek new articles", articles_path, class: "btn btn-purple" %>
      <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
        <%= link_to "Edit", edit_article_path(@article), class: "btn btn-purple" %>
        <%= link_to "Delete", article_path(@article), method: :delete,
                                                                data: { confirm: "#{current_user.name}, are you sure you want to delete this article?" },
                                                                class: "btn btn-purple" %>
      <% end %>
    </div>
  </div>
</div>

<hr />

<% if logged_in? %>
  <div class="row">
    <div class="col-md-12">
      <%= form_for([@article, @comment], remote: true, :html => { class: "form-horizontal", role: "form" }) do |f| %>
        <div>
          <div class="input-group input-group-lg col-md-10 col-md-offset-1">
            <%= link_to gravatar_for(current_user, size: 50, class: 'gravatar-comment'), user_path(current_user), class:"input-group-addon input-group-addon-article" %>
            <%= f.text_field :description, class: "form-control comment-form", placeholder: "Write a comment..." %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <h4 class="center">Have a account? <%= link_to "Log in to comment", login_path %></h4>
  <h4 class="center">Are you new here? <%= link_to "Sign up", signup_path %></h4>
<% end %>
<br>

<% if @article.comments.any? %>
  <div class="real-time-messages">
    <%= render partial: 'comments/comments', object: @comments %>
  </div>
<% else %>
  <div class="real-time-messages">
  </div>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){

    $(window).load(function(){
      // Remove the # from the hash, as different browsers may or may not include it
      var hash = location.hash.replace('#','');

      if(hash == 'wall'){

         // Clear the hash in the URL
         // location.hash = '';   // delete front "//" if you want to change the address bar
          $('html, body').animate({ scrollTop: $('#my-comments').offset().top}, 1000);

         }
     });
  });
</script>
