<%= render 'shared/errors', object: @user %>
<%= render 'shared/forms_title', title: 'Edit your account', subtitle: 'Is everything okay?' %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@user, :html => { class: "form-horizontal", role: "form" }) do |f| %>

      <div class="form-group">
        <div class="control-label col-md-8">
          <%= f.label :name %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :name, class: "form-control", placeholder: "Enter your name" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-8">
          <%= f.label :email %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :email, class: "form-control", placeholder: "Enter your email" %>
          <small>We'll never share your email with anyone else.</small>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-8">
          <%= f.label :bio %>
        </div>
        <div class="col-md-4">
          <%= f.text_area :bio, class: "form-control", placeholder: "Enter your bio..." %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-8">
          <%= f.label :birthday %>
        </div>
        <div class="col-md-4">
          <%= date_select :user, :birthday, start_year: 1905, end_year: 2017 , order: [:day, :month, :year] %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-8">
          <%= f.radio_button :gender, 'boy' %>
          <%= label :gender, 'Boy' %>
          <%= f.radio_button :gender, 'girl' %>
          <%= label :gender, 'Girl' %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-8">
          <%= f.label :avatar %>
        </div>
        <div class="col-md-4">
          <% if @user.avatar? %>
            <%= gravatar_for(@user) %>
            <div>
              <%= f.check_box :remove_avatar %> Remove avatar?
            </div>
          <% end %>
          <%= f.file_field :avatar, accept: 'image/jpeg,image/gif,image/png', id: 'user-avatar' %>
          <div class="warning-avatar">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-8">
          <%= f.label :image, "Cover" %>
        </div>
        <div class="col-md-4">
          <% if @user.image? %>
            <%= image_tag(@user.image.url, class: "img-ratio") %>
            <%= f.check_box :remove_image, checked: false %> Remove cover image?
          <% end %>
          <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', id: 'user-cover' %>
          <div class="warning-cover">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-8 col-md-4 btn-group">
          <%= f.submit "Update my account",
                            class: "btn btn-purple" %>
          <%= link_to "Return to home", pages_home_path, class: "btn btn-purple" unless @user.new_record? %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#user-avatar').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 2) {
      $(".warning-avatar").html('<span>Warning: Maximum avatar size after resize process should be less than 2MB</span>');
    }
  });

  $('#user-cover').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 2) {
      $(".warning-cover").html('<span>Warning: Maximum cover size after resize process should be less than 2MB</span>');
    }
  });
</script>
