<%= render 'shared/page_title', title: 'Explore' %>
<hr />
<br>
<div class="row">
  <% @users.each do |user| %>
    <div align="center">
      <ul class="listing">
        <div class="col-md-3 user-index">
          <li>
            <%= link_to gravatar_for(user), user_path(user) %>
          </li>
          <li class="user-name">
            <%= link_to user.name.capitalize, user_path(user) %>
          </li>
          <li>
            <%= truncate(user.bio, length: 50) %>
          </li>
          <li>
            <% user ||= current_user %>
            <div class="stats text-center">
              <a href="<%= followers_user_path(user) %>">
                <strong class="followers" class="stat">
                  <%= pluralize(user.followers.count, "follower") %>
                </strong>
              </a>
            </div>
          </li>
          <li>
            <%= pluralize(user.articles.count, "article") if user.articles %>
          </li>
          <% if logged_in? && current_user.admin? %>
            <li>
              <%= link_to "Delete this user", user_path(user), method: :delete,
              data: {confirm: "Are you sure you want to delete the user and all associated articles?"}, class: 'btn btn-purple' %>
            </li>
          <% end %>
        </div>
      </ul>
    </div>
  <% end %>
</div>
<hr />

<div align="center">
  <%= will_paginate %>
</div>
