<%= render 'shared/errors', object: @user %>
<%= render 'shared/forms_title', page_title: t(:change_your_pass), page_subtitle: t(:keep_pass_safe) %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= form_for(@user, :html => { class: "form-horizontal", role: "form" }) do |f| %>
        <div class="form-group">
          <div class="control-label col-md-4">
            <%= f.label :password, t(:new_password) %>
          </div>
          <div class="col-md-4">
            <%= f.password_field :password, class: "form-control form-home-sign", placeholder: t(:choose_new_pass) %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-md-4">
            <%= f.label :password_confirmation, t(:confirm_new_pass) %>
          </div>
          <div class="col-md-4">
            <%= f.password_field :password_confirmation, class: "form-control form-home-sign", placeholder: t(:repeat_new_pass) %>
          </div>
        </div>

        <div class="form-group">
          <div class="center col-md-offset-4 col-md-4">
            <%= f.submit t(:change_pass),
                            class: "btn btn-purple btn-lg" %>
            <%= link_to t(:View_profile), user_path(@user), class: "btn btn-purple btn-lg" unless @user.new_record? %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
