<%= render 'shared/page_title', title: "#{@user.name.capitalize}'s profile" %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>
<br>
<div align="center">
  <%= will_paginate @user_articles %>
</div>

<% @user_articles.each do |article| %>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 well">
      <h4><%= link_to article.name, article_path(article) %></h4>
      <p><%= truncate(article.description, length: 150) %></p>
      <p>
        <span class="quiet">
          <small>Created <%= time_ago_in_words(article.created_at) %> ago</small>
        </span>
      </p>
    </div>
  </div>
<% end %>

<div align="center">
  <%= will_paginate @user_articles %>
</div>
