
  <div class="container">

    <div class="row">
      <aside class="col-md-4">
        <section class="center article-content home-cover">
          <% if @user.image? %>
            <%= image_tag(@user.image, class: "cover-home-ratio") %>
          <% else %>
            <% if @user.gender == 'girl' %>
              <%= image_tag('girl-cover.jpg', class: "cover-home-ratio") %>
            <% else %>
              <%= image_tag('boy-cover.jpg', class: "cover-home-ratio") %>
            <% end %>
          <% end %>
          <div class="home-content">
            <%= gravatar_for @user %>
            <h1><%= link_to @user.name, @user %></h1>
            <%= @user.bio %>
            <div class="stats">
              <%= render 'shared/stats' %>
              <%= t('article', count: @user.articles.count) %>
            </div>
          </div>

        </section>
        <% if @users.any? %>
          <div class="user-avatars">
            <% @users.each do |user| %>
              <%= link_to gravatar_for(user, size: 30, class: "gravatar"), user %>
            <% end %>
          </div>
        <% end %>
      </aside>
      <section>
        <div class="col-md-4">
          <h3><%= @title %></h3>
          <% if @users.any? %>
            <ul class="listing">
              <%= render @users %>
            </ul>
            <%= will_paginate %>
          <% end %>
        </div>
      </section>

    </div>

  </div>
