<head>
  <title><%= t(:gamarch_about) %></title>
  <%= favicon_link_tag 'logo.png' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application_ujs_jquery', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <h2 id="logo-about" class="center col-md-12 col-sm-12 col-xs-12"><%= link_to "Gamarch", root_path %></h2>

  <header class="general-page-title">
    <div class="container">
      <%= render 'shared/static_page_title', page_title: t(:gamarch_conect) %>
    </div>
      <div class="col-md-12 col-sm-12  col-xs-12 center">
        <%= image_tag("outer-space.jpg", class:"outer-space-property")%>
      </div>
      <div class="center ">
        <%= image_tag("down-chevron.gif", class:"down-chevron-gif")%>
      </div>

  </header>


  <div class="read-label">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <h5 class="text-gray"><%= t(:gamarch_not_only_play) %></h5>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-5 col-sm-5 col-xs-12">
            <h2 class="title-black"><%= t(:gamarch_cultive) %></h2>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
              <%= t(:gamarch_long_jorney) %>
            </p>
          </div>
        </div>
        <br>
        <div class="col-md-12 col-sm-12 col-xs-12 paragrafy-inblock justify">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
              <%= t(:gamarch_players_hurts) %>
            </p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
              <%= t(:gamarch_players_solutions) %>
            </p>
            <hr />
            <div class="center">
              <%= image_tag("play-games.jpg", class:"play-games-property")%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="misson-label">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

          <div class="col-md-6 col-sm-6 col-xs-12 right mission-titles-label">
            <h5><%= t(:gamarch_our_mission) %></h5>
            <h2><%= t(:gamarch_bring_revolution) %></h2>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <hr />
            <br>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 center">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <%= image_tag("traveler.jpg", class:"play-games-property")%>
              <p>
                <%= t(:gamarch_profile_details) %>
              </p>
            </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
            <%= image_tag("articles-write.jpg", class:"play-games-property")%>
            <p>
              <%= t(:gamarch_articles_details) %>
            </p>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <%= image_tag("controllers-community.jpg", class:"play-games-property")%>
            <p>
              <%= t(:gamarch_community_details) %>
            </p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="read-label">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-6 col-sm-6 col-xs-12 new-visions-border right">
            <h4 class="text-gray"><%= t(:gamarch_strategy) %></h4>
            <h2 class="title-black"><%= t(:gamarch_vision) %></h2>
            <div class="justify">
              <p>
                <%= t(:gamarch_plays) %>
              </p>
              <p>
                <%= t(:gamarch_feed_details) %>
              </p>
              <p>
                <%= t(:gamarch_desc_details) %>
              </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <%= image_tag("game-over.jpg", class:"game-over-property")%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="end-label">
    <div class="container">
      <div class="row">
        <div class="col-md-12 center">
          <h4><%= t(:gamarch_release_call) %></h4>
          <h3><%= t(:gamarch_enter_hype) %></h3>
          <div class="col-md-12">
            <%= image_tag("game-on.jpg", class:"game-on-property")%>
          </div>
          <div class="col-md-8 col-md-offset-2">
            <h5><%= t(:gamarch_your_opinion) %></h5>
          </div>
          <div class="col-md-12">
            <%= link_to t(:view_blog), blog_path, class:"btn btn-purple", data: { turbolinks: false } %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="pre-footer-about">
    <div class="center">
      <div class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
        <h4><%=  t(:subscribe_text) %></h4>
        <% if params[:locale] == 'pt' %>
          <%= render 'posts/mailchimp_pt' %>
        <% else %>
          <%= render 'posts/mailchimp' %>
        <% end %>
      </div>
    </div>
  </section>
</body>

<footer class="blog-footer">
  <div class="container">
    <p class="language"><%= link_to "English", {locale: :en}, :"data-turbolinks" => false %> •
    <%= link_to "Português", {locale: :pt}, data: { turbolinks: false } %></p>
    <p>
      <%= link_to t(:home), root_path %> •
      <%= link_to t(:about), about_path %> •
      <%= link_to t(:blog), blog_path, data: { turbolinks: false } %> •
      <%= link_to t(:contact), contact_path %>
    </p>
    <p class="text-muted">Gamarch • 2017 • <%= t(:rights_reserved) %></p>
  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</footer>
