<% if logged_in? %>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <aside class="col-md-3 col-sm-12 fix-position fix-position-top">
        <section class="article-content home-cover">

            <% if current_user.image? %>
              <%= image_tag(current_user.image, class: "cover-home-ratio") %>
            <% else %>
              <% if current_user.gender == 'girl' %>
                <%= image_tag('girl-cover.jpg', class: "cover-home-ratio") %>
              <% else %>
                <%= image_tag('boy-cover.jpg', class: "cover-home-ratio") %>
              <% end %>
            <% end %>
            <div class="home-content">
              <%= link_to gravatar_for(current_user, size: 100, class: 'gravatar'), current_user %>
              <div class="home-user-name">
                <%= link_to current_user.name, current_user %>
              </div>
              <div class="col-md-12 col-sm-12">
                <%= current_user.bio %>
              </div>
              <div class="home-stats col-md-12 col-sm-12">
                <%= render 'shared/stats' %>
              </div>
              <%= pluralize(current_user.articles.count, "article") if current_user.articles %>
            </div>
        </section>
        <section class="article-content home-cover">
            <div class="center home-user-name">
              <%= link_to 'Communities', current_user %>
            </div>
        </section>
      </aside>

      <div class="col-md-6 col-sm-12 home-feed">
        <div>
          <%= form_for(@article, :html => { class: "form-horizontal", multipart: true, role: "form" }) do |f| %>
            <div class="input-group">
              <%= link_to gravatar_for(current_user, size: 50, class: 'gravatar-comment'), user_path(current_user),
                               class:"input-group-addon input-group-addon-home" %>
              <%= f.text_field :description, class: "form-control diary-form",
                               placeholder: "What your gamer's brain is planning, #{current_user.name}?" %>
            </div>
          <% end %>
        </div>
        <% if current_user.following.empty? %>
          <div class="center">
            <h1>Welcome to Gamarch!</h1>
            <p>Get started by following Pro Players. You'll see their articles, diary and communities here.</p>
            <%= link_to("Let's go", users_path, class: "btn btn-purple") %>
          </div>
        <% else %>
          <%= render 'shared/feed' %>
        <% end %>
      </div>



      <aside class="col-md-3 col-sm-12 fix-position fix-position-top">
        <section class="article-content home-cover">
            <div class="center home-user-name">
              <%= link_to 'Featured', current_user %>
            </div>
        </section>

        <section class="article-content home-cover">
            <div class="center home-user-name">
              <%= link_to 'Sponsored', current_user %>
            </div>
        </section>
      </aside>
    </div>
  </div>

<% else %>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <%= render 'shared/errors', object: @user %>

    <div class="col-md-8 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h1>Welcome to the experience playground</h1>
          <div class="col-md-12 col-sm-12 col-xs-12 home-topics">
            <div class="col-md-2 col-sm-2 col-xs-4">
              <i class="fa fa-battery-three-quarters font-awesome-icon-sign" aria-hidden="true"></i>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-8">
              <h4>Increase your game community</h4>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 home-topics">
            <div class="col-md-2 col-sm-2 col-xs-4">
              <i class="fa fa-thermometer-full font-awesome-icon-sign" aria-hidden="true"></i>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-8">
              <h4>Increase your gaming experience</h4>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 home-topics">
            <div class="col-md-2 col-sm-2 col-xs-4">
              <i class="fa fa-check-square-o font-awesome-icon-sign" aria-hidden="true"></i>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-8">
              <h4>Best players</h4>
            </div>
          </div>
          <div class="col-md-12col-sm-12 col-xs-12 home-topics">
            <div class="col-md-2 col-sm-2 col-xs-4">
              <i class="fa fa-hand-spock-o font-awesome-icon-sign" aria-hidden="true"></i>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-8">
              <h4>Funny communities</h4>
            </div>
          </div>

        </div>
      </div>
    </div>
<!--
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h2>Gaming better</h2>
          <h5>Improve your favorite game community</h5>

          <%= form_for(@user, :html => { class: "form-horizontal", role: "form" }) do |f| %>
            <div class="form-group">
              <div class="col-md-12">
                <%= f.text_field :name, class: "form-control form-home-sign", placeholder: "Enter your name" %>
              </div>
            </div>

            <div class="form-group">

              <div class="col-md-12 form-email-fix-position">
                <%= f.text_field :email, class: "form-control form-home-sign", placeholder: "Enter your email" %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 form-password-fix-position">
                <%= f.password_field :password, class: "form-control form-home-sign", placeholder: "Choose a password" %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 form-cpassword-fix-position">
                <%= f.password_field :password_confirmation, class: "form-control form-home-sign", placeholder: "Confirm your password" %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 col-sm-12 col-xs-12 form-birthday-fix-position">
                <h4>
                  Your Birthday
                </h4>
                <div class="select-date-wrapper">
                  <%= date_select :user, :birthday, { start_year: 1905, end_year: 2017 , order: [:day, :month, :year]}, class: "form-control select-date"  %>
                </div>

              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 col-sm-12 col-xs-12 form-gender-fix-position">
                <div class="col-md-4 col-md-offset-2 col-sm-4 col-offset-2 col-xs-6">
                  <h4>
                    <%= f.radio_button :gender, 'girl' %>
                    <%= label :gender, 'Girl' %>
                  </h4>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <h4>
                    <%= f.radio_button :gender, 'boy', checked: true %>
                    <%= label :gender, 'Boy' %>
                  </h4>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 col-sm-12 col-xs-12 form-terms">
                <%= render 'users/warning_terms' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 col-sm-12 col-xs-12 btn-group form-create">
                <%= f.submit(@user.new_record? ? "Create my account" : "Update my account",
                                  class: "btn btn-purple btn-lg") %>
                <%= link_to "Return to home", pages_home_path, class: "btn btn-purple" unless @user.new_record? %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>


      </div>
    </div>
  </div>
</div>
-->
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h2 class="blog-name">
            <%= link_to "/Blog", blog_path %>
          </h2>
          <p>
            Look up our blog. Here we'll keep you updated about the website progress. Find also some articles about game strategies.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr />
        <div class="col-md-8">
          <h2>
            What is GAMARCH?
          </h2>
          <p>
            How to gaming at a high level? Gamarch is a site that allows players to communicate on a single platform thus developing the community of their favorite games. Learning from each other and increasing the level of multiplayer and own experience with games. Each game has its own area and a forum for users to feel comfortable talking to each other. Share experiences, strategize and develop new things in your newest playground
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
