<div class="row">
  <div class="col-md-12 col-sm-12">
    <aside class="col-md-3 col-sm-12 fix-position fix-position-top">
      <section class="article-content home-cover">
          <%= image_tag(current_user.image, class: "cover-home-ratio") if current_user.image? %>
          <div class="home-content">
            <%= link_to gravatar_for(current_user, size: 100, class: 'gravatar'), current_user %>
            <div class="home-user-name">
              <%= link_to current_user.name, current_user %>
            </div>
            <div class="col-md-12 col-sm-12">
              <%= current_user.bio %>
            </div>
            <div class="home-stats col-md-12 col-sm-12">
              <%= render 'shared/stats' %>
            </div>
            <%= pluralize(current_user.articles.count, "article") if current_user.articles %>
          </div>
      </section>
      <section class="article-content home-cover">
          <div class="center home-user-name">
            <%= link_to 'Communities', current_user %>
          </div>
      </section>
    </aside>

    <div class="col-md-6 col-sm-12 home-feed">
      <%= render 'shared/feed' %>
    </div>

    <aside class="col-md-3 col-sm-12 fix-position fix-position-top">
      <section class="article-content home-cover">
          <div class="center home-user-name">
            <%= link_to 'Featured', current_user %>
          </div>
      </section>

      <section class="article-content home-cover">
          <div class="center home-user-name">
            <%= link_to 'Sponsored', current_user %>
          </div>
      </section>
    </aside>
  </div>
</div>
