<% if logged_in? %>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <aside class="col-md-3 col-sm-12 col-xs-12 fix-position fix-position-top">
        <section class="article-content home-cover">

            <% if current_user.image? %>
              <%= image_tag(current_user.image, class: "cover-home-ratio") %>
            <% else %>
              <% if current_user.gender == 'girl' %>
                <%= image_tag('girl-cover.jpg', class: "cover-home-ratio") %>
              <% else %>
                <%= image_tag('boy-cover.jpg', class: "cover-home-ratio") %>
              <% end %>
            <% end %>
            <div class="home-content">
              <%= link_to gravatar_for(current_user, size: 100, class: 'gravatar'), current_user %>
              <div class="home-user-name">
                <%= link_to current_user.name, current_user %>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <%= current_user.bio %>
              </div>
              <div class="home-stats col-md-12 col-sm-12 col-xs-12">
                <%= render 'shared/stats' %>
              </div>
              <div class="count-articles-home">
                <%= pluralize(current_user.articles.count, t(:article)) if current_user.articles %>
              </div>
            </div>
        </section>
        <section class="article-content home-cover">
            <div class="center home-user-name">
              <%= link_to t(:communities), current_user %>
            </div>
        </section>
      </aside>

      <aside class="col-md-3 col-sm-12 col-xs-12 fix-position fix-position-top pull-right">
        <section class="article-content home-cover">
            <div class="center home-user-name">
              <%= link_to t(:featured), current_user %>
            </div>
        </section>

        <section class="article-content home-cover">
            <div class="center home-user-name">
              <%= link_to t(:sponsored), current_user %>
            </div>
        </section>
      </aside>

      <div class="col-md-6 col-sm-12 col-xs-12 home-feed">
        <div>
          <%= form_for(@article, :html => { class: "form-horizontal", multipart: true, role: "form" }) do |f| %>
            <div class="input-group col-md-12 col-sm-12 col-xs-12">
              <%= link_to gravatar_for(current_user, size: 50, class: 'gravatar-comment'), user_path(current_user),
                               class:"input-group-addon input-group-addon-home" %>
              <%= f.text_field :description, class: "form-control diary-form",
                               placeholder: "#{t(:and_now)}, #{current_user.name}?" %>
            </div>
          <% end %>
        </div>
        <% if current_user.following.empty? %>
          <div class="center">
            <h1><%= t(:welcome_to) %></h1>
            <p><%= t(:get_stared_message) %></p>
            <%= link_to(t(:lets_go), users_path, class: "btn btn-purple") %>
          </div>
        <% else %>
          <%= render 'shared/feed' %>
        <% end %>
      </div>

    </div>
  </div>

<% else %>
<header class="bg-header-home">
  <div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12 home-show-position">
      <%= render 'shared/errors', object: @user %>

        <div class="container">
          <div class="col-md-12 col-sm-12 col-xs-12 center">
            <%= image_tag("logo.png", class:"logo-show-home")%>
            <h3 class="center pre-home-title">
              <%= t(:pre_title) %>
            </h3>
            <div class="col-md-4 col-md-offset-4 line-title">
              <hr />
            </div>

            <h1 class="center home-title-black col-md-12">
              <%= t(:home_title) %>
            </h1>
            <h3 class="center pos-title col-md-12">
              <%= t(:sub_title) %>
            </h3>
            <p class="language col-md-12"><%= link_to "English", {locale: :en}, :"data-turbolinks" => false %> ·
            <%= link_to "Português", {locale: :pt}, data: { turbolinks: false } %></p>
          </div>

      </div>
    </div>
  </div>
</header>


  <div class="col-md-12 col-sm-12 col-xs-12 purple-bg">
      <div class="home-show-position">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
            <h5 class="text-gray">
              <%= t(:pre_home_gamarch) %>
            </h5>
            <h3 class="title-black">
              <%= t(:home_gamarch) %>
            </h3>
            <p>
              <%= t(:home_gamarch_desc) %> <b>eSports</b>. <%= t(:home_gamarch_desc_part) %>
            </p>
            <p>
              <%= t(:home_gamarch_desc_2) %>
            </p>
            <p>
              <%= t(:home_gamarch_blog) %>
            </p>
            <p class="center col-md-12"><%= link_to t(:view_blog), blog_path, :"data-turbolinks" => false %> •
            <%= link_to t(:about_us), about_path %></p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-8">
            <%= image_tag("keyboard-icon.png", class:"game-icon-show-home")%>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-6">
            <br>
            <%= image_tag("game-control.png", class:"game-icon-show-home right")%>
          </div>

        </div>
    </div>
  </div>


<div class="col-md-12 col-sm-12 col-xs-12 home-show-position">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 center">
      <div class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
        <h4 class="text-gray"><%= t(:insise_community) %></h4>
        <h2 class="text-black"><%= t(:icons_home_title) %></h2>
      </div>

      <br>
      <div class="col-md-4 col-md-offset-2 col-sm-12 col-xs-12 home-topics exp-icon-square">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <br>
          <%= image_tag("exp.jpg", class:"exp-show-home")%>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h6 class="text-icons">
            <%= t(:home_players) %>
          </h6>
          <p>
            <%= t(:home_players_desc) %>
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 home-topics">
        <div class="col-md-12 col-sm-12 col-xs-12 center">
          <br>
          <%= image_tag("knight.png", class:"icons-show-home")%>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h6 class="text-icons">
            <%= t(:home_experience) %>
          </h6>
          <p>
            <%= t(:home_experience_desc) %>
          </p>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12 center">
          <br>
          <%= image_tag("friends.png", class:"icons-show-home")%>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h6 class="text-icons"><%= t(:home_funny) %></h6>
          <p>
            <%= t(:home_funny_desc) %>
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 home-topics">
        <div class="col-md-12 col-sm-12 col-xs-12 center">
          <br>
          <%= image_tag("mystic-island.jpg", class:"exp-show-home")%>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h6 class="text-icons"><%= t(:home_community) %></h6>
          <p>
            <%= t(:home_community_desc) %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 ">
  <div class="row blog-home-bg">
    <div class="col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <%= image_tag("blog.png", class:"blog-icon-show-home blog-icon-home-proprety")%>
      <h2 class="blog-name-home right">
        <%= link_to "/Blog", blog_path, :"data-turbolinks" => false %>
      </h2>

    </div>
    <div class="col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <hr />
      <p class="blog-description-home">
        <%= t(:home_blog_desc) %>
      </p>
    </div>
  </div>
</div>
<div>
  <%= image_tag("home-cover-2.jpg", class: "home-cover-ratio")%>
</div>
<% end %>


<!--
<div class="col-md-6 col-sm-12 col-xs-12 justify article-content">
  <p>
    <%= t(:home_gamarch_desc) %>
  </p>
</div>
<%= t(:home_gamarch) %>
-->
