<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <h1 class="blog-name pull-right">
      <%= link_to "/Blog", blog_path %>
    </h1>
  </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <aside class="col-md-4 col-sm-12 col-xs-12 fix-position fix-position-blog pull-right">
        <section class="article-content home-cover">
          <%= image_tag('boy-cover.jpg', class: "cover-home-ratio") %>
          <div class="home-content">
            <%= link_to gravatar_for(@user, size: 100, class: 'gravatar'), about_path %>
            <div class="home-user-name">
              <%= link_to @user.name, about_path %>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%= @user.bio %>
            </div>
            <div class="count-articles-home">
              <%= pluralize(@user.posts.count, "post") if @user.posts %>
            </div>
          </div>
        </section>
        <% if @user.posts.count > 6 %>
          <section >
              <div class="center home-user-name">
              <h3>  <%= t(:featured) %> </h3>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <% @random_posts.each do |random_post| %>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="article-content home-cover">
                          <%= image_tag(random_post.image.url, class: "img-cover-ratio") if random_post.image? %>
                          <%= link_to random_post.name, post_path(random_post) %>
                        </div>
                      </div>
                    <% end %>
                  </div>

                </div>
              </div>
          </section>
        <% end %>
        <section class="article-content home-cover">
          <div class="center home-user-name">
            <h3><%=  t(:subscribe_text) %></h3>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <% if params[:locale] == 'pt' %>
                    <%= render 'mailchimp_pt' %>
                  <% else %>
                    <%= render 'mailchimp' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </section>
      </aside>
      <div class="col-md-8 col-sm-12 col-xs-12">
      <% @posts.each do |post| %>
        <div class="col-md-12 col-sm-12 col-xs-12 justify post-index">
          <%= image_tag(post.image.url, class: "img-blog-cover-ratio") if post.image? %>
          <p>
            <span class="quiet right">
              <small class="data-read-timing-feed">
                <% if params[:locale] == 'pt' %>
                  <%= post.timestamp_dmy %>
                <% else %>
                  <%= post.timestamp %>
                <% end %>
                | <%= post.reading_time %> min <%= t(:read) %>
              </small>
            </span>
          </p>
          <br>
          <h4 class="article-index-title">

            <%= link_to truncate(post.name, length: 60, class:"justify"), post_path(post) %>

          </h4>
          <p class="article-index-title">
            <%= post.make_safe(1000) %>
            <script id="dsq-count-scr" src="//gamarch.disqus.com/count.js" async></script>
            <% if post.description.size > 255 %>
               <%= link_to(t(:see_more), post_path(post), class:'right') %>
            <% end %>
          </p>
        </div>
      <% end %>
      </div>

    </div>
</div>
<div align="center">
  <%= will_paginate %>
</div>
