<div class="row">
  <div class="col-md-12">
    <h1 class="blog-name pull-right">
      <%= link_to "/Blog", blog_path %>
    </h1>
  </div>
</div>


<hr />
<div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="col-md-8">
      <% @posts.each do |post| %>
        <div class="col-md-12 justify post-index">
          <%= image_tag(post.image.url, class: "img-blog-cover-ratio") if post.image? %>
          <h4 class="article-index-title">
            <%= link_to truncate(post.name, length: 60, class:"justify"), post_path(post) %>
          </h4>
          <p>
            <%= post.make_safe(500) %>
          </p>
          <p>
            <span class="quiet">
              <small><%= time_ago_in_words(post.created_at) %> ago
                | <%= post.reading_time %> min read
              </small>
            </span>
          </p>
          <hr />
          <div class="avatar-article-index">
            <%= link_to gravatar_for(post.user, size: 50, class:"gravatar"), user_path(post.user) %>
            <div class="avatar-article-index-text">
              <%= link_to post.user.name.capitalize, user_path(post.user), class: "avatar-article-index-font" %>
              <%= pluralize(post.user.posts.count, "post") %>
            </div>
          </div>
          <% if logged_in? && (current_user == post.user || current_user.admin?) %>
            <div class="btn-group">
              <%= link_to "Edit", edit_post_path(post), class: "btn btn-purple" %>
              <%= link_to "Delete", post_path(post), method: :delete,
                                                                      data: { confirm: "#{current_user.name}, are you sure you want to delete this post?" },
                                                                      class: "btn btn-purple" %>
            </div>
          <% end %>
        </div>
      <% end %>
      </div>
      <aside class="col-md-4 col-sm-12 fix-position fix-position-blog">
        <section class="article-content home-cover">
          <%= image_tag('boy-cover.jpg', class: "cover-home-ratio") %>
          <div class="home-content">
            <%= link_to gravatar_for(@user, size: 100, class: 'gravatar'), @user %>
            <div class="home-user-name">
              <%= link_to @user.name, @user %>
            </div>
            <div class="col-md-12 col-sm-12">
              <%= @user.bio %>
            </div>
            <%= pluralize(@user.posts.count, "post") if @user.posts %>
          </div>
        </section>
        <section class="article-content home-cover">
            <div class="center home-user-name">
              <%= link_to 'Featured', @user %>
            </div>
        </section>
      </aside>
    </div>
</div>
<div align="center">
  <%= will_paginate %>
</div>
