<div class="container">
  <div class="col-12">
    <div class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
      <div class="center">
        <h1><%= @community.name %></h1>
        <p class="justify"><%= @community.description %></p>
        <p><%= @community.game.name %></p>
        <p><%= @community.user.name %></p>
        <% if @community.website? %>
          <a href="<%= @community.website %>" target="_blank">Website</a>
        <% end %>
      </div>
    </div>
  </div>

</div>
