<footer class="footer">
  <div class="container">
    <p>
      <%= link_to t(:starting), starting_path %> •
      <%= link_to t(:blog), blog_path, data: { turbolinks: false } %> •
      <%= link_to t(:help), help_path %> •
      <%= link_to t(:about), about_path %> •
      <%= link_to t(:contact), contact_path %> •
      <%= link_to t(:terms), terms_path %> •
      <%= link_to t(:privacy), privacy_path %> •
      <%= link_to t(:cookies), cookie_path %>
    </p>
    <p class="text-muted">Gamarch • 2017 • <%= t(:rights_reserved) %></p>
  </div>
</footer>
