<footer class="footer">
  <div class="container">
    <p>
      <%= link_to 'Starting', starting_path %> •
      <%= link_to 'Blog', blog_path %> •
      <%= link_to 'Help', help_path %> •
      <%= link_to 'About', about_path %> •
      <%= link_to 'Contact', contact_path %> •
      <%= link_to 'Terms', terms_path %> •
      <%= link_to 'Privacy', privacy_path %> •
      <%= link_to 'Cookies', cookie_path %>
    </p>
    <p class="text-muted">Gamarch • 2017 • All rights reserved</p>
  </div>
</footer>
