
<div class="navbar navbar-fixed-top custom-nav">
  <div class="navbar-header pull-left col-xs-1 col-xs-offset-0 col-md-offset-2 col-md-4">
    <%= link_to image_tag("logoback.png", title: "GAMARCH!", id: "img-logo", class:"navbar-btn"),
                          root_path %>
    <span class="form-group navbar-form">
      <input type="text" class="form-control mobile-off search-forms" placeholder="Search">
    </span>
    <button type="submit" class="btn btn-default navbar-btn mobile-off search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
  </div>
  <div class="navbar-header navbar-responsive-right pull-right col-md-6 col-xs-10 col-sm-6">

      <div class="mobile-off navbar-btn link-nav-responsive navbar-text data-turbolinks="false"">
        <a data-turbolinks-action="replace" class="inline" href="<%= new_article_path %>" title="<%= t(:write_something_new) %>"><%= t(:back_off_new) %></a>
      </div>

      <div class="navbar-btn btn-nav-responsive">
        <%= link_to simple_format('<i class="fa fa-file font-icon-nav btn-nav" aria-hidden="true"></i>'),
                        articles_path %>
      </div>

      <div class="navbar-btn btn-nav-responsive">
        <%= link_to simple_format('<i class="fa fa-gamepad font-icon-nav btn-nav" aria-hidden="true"></i>'),
                        games_path %>
      </div>

      <div class="navbar-btn btn-nav-responsive">
        <%= link_to simple_format('<i class="fa fa-object-group font-icon-nav btn-nav" aria-hidden="true"></i>'),
                        users_path %>
      </div>

      <div class="navbar-btn btn-nav-responsive">
        <%= link_to simple_format('<i class="fa fa-heartbeat font-icon-nav btn-nav" aria-hidden="true"></i>'),
                        users_path %>
      </div>

      <div class="gravatar-nav navbar-brand">
        <%= link_to (gravatar_for current_user, size: 34, class: 'gravatar'),
                        user_path(current_user), title: t(:profile) %>
      </div>

      <div class="dropdown inline navbar-btn btn-nav-responsive">
        <a href="#" class="dropdown-toggle btn-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-cogs font-icon-nav" aria-hidden="true" title="Settings"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <%= link_to simple_format('<i class="fa fa-pencil-square-o font-icon-dropdown" aria-hidden="true" title="Edit your Profile"></i> Edit Profile'),
                        edit_user_path(current_user) %>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <%= link_to simple_format('<i class="fa fa-key font-icon-dropdown" aria-hidden="true" title="Change Password"></i> New Pass'),
                        edit_user_pass_path(current_user) %>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <%= link_to simple_format('<i class="fa fa-sign-out font-icon-dropdown" aria-hidden="true" title="Log out"></i> Log out'),
                        logout_path, method: :delete %>
          </li>
        </ul>
      </div>

  </div>
</div>
