<!DOCTYPE html>
<html>
  <head>
    <title>Gamarch – Gaming better and Improve your favorite game community</title>
    <%= favicon_link_tag 'meusapo.png' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
    <div class="nav-margin">
      <%= render 'layouts/navigation' %>
    </div>
    <% else %>
      <%= render 'layouts/navigation' %>
    <% end %>

    <%= render 'layouts/messages' %>

    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>

</html>
