<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'logo.png' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <% if logged_in? %>
      <% if logged_in? %>
        <div class="nav-margin-logged">
          <%= render 'layouts/nav_logged' %>
        </div>
      <% else %>
        <div class="nav-margin-login">
          <%= render 'layouts/nav_login' %>
        </div>
      <% end %>
    <% else %>
      <div class="nav-margin-blog">
        <%= render 'layouts/nav_blog' %>
      </div>
    <% end %>
    <%= render 'layouts/messages' %>

    <div class="container">
      <%= yield %>
    </div>
    <% if logged_in? %>
      <%= render 'layouts/footer' %>
    <% else %>
      <%= render 'layouts/blog_footer' %>
    <% end %>
  </body>

</html>
